.image{
    height: auto;
    width: 4em;

}
.main-nav{
    height: 5em;
}
.sec-nav{
    background-color: ghostwhite;
    color: black;
}
body{
    overflow-x: hidden;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;

}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
    /*width: 20%;*/
  background-color: #ecf1ee;

  height: 100%;
}

/* Sidebar links */
.sidebar a {
    width: 100%;
  display: block;
    margin-top: 1px;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: white;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
figure .zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}

#zoomImg:hover{
  opacity: 0;
}
figure .zoom img:hover {
  opacity: 0;
}
figure .zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}
.card-pic {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 14px; /* Added */
}

/*.zoom:hover {*/
  /*-ms-transform: scale(1.5); !* IE 9 *!*/
  /*-webkit-transform: scale(1.5); !* Safari 3-8 *!*/
  /*transform: scale(1.5);*/
/*}/*/



