{% extends 'user/index1.html' %}
{% block title %}
    Order
{% endblock %}
{% block content %}
    {% load static %}
    <section style="height: 75vh; margin-top: 7em">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card text-center mt-3">
                    <img style="width: 27em; margin-left: 5em" src="{% static 'images/order-placed.jpg' %}" alt="">
                    <div class="card-title text-center">
                        congratulations you order is Placed and will be confirmed by us soon.
                    </div>
                    <div style="margin-bottom: 1em;">
                        <a href="{% url 'cart' %}">
                            <button class="btn btn-primary">GO BACK TO CART</button>
                        </a>
                        <a href="{% url 'index' %}">
                            <button class="btn btn-secondary">Continue Shopping</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
{% endblock %}