{% extends 'user/index1.html' %}
{% load static %}
{% block title %}
    Payment
{% endblock %}
{% block content %}
    <section style=" margin-top: 6em">
        <div class="container">
            <h6>Please select your address:</h6>
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow p-2 mt-2">
                        <select id="address" class="form-control" name="address">
                            {% for address in address %}
                                <option class="form-control" value="{{ address.id }}">
                                    {{ address.house_name }}
                                    {{ address.town }},
                                    {{ address.district }}
                                    {{ address.state }},
                                    {{ address.pin_code }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-outline-success mt-1" data-toggle="modal"
                        data-target="#exampleModalCenter">
                    + ADD NEW ADDRESS
                </button>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-6">
                    <h6>Choose payment method:</h6>
                    <button onclick="placeOrder('False')" style="height: 2.5em;width: 100%"
                            class="flex-c-m stext-101 cl0 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer mt-3">
                        <span>CASH ON DELIVERY</span>
                    </button>
                    <div id="razor" class="razor"></div>
                    <button onclick="razorpay()" style="height: 2.5em; width: 100%"
                            class="flex-c-m stext-101 cl0 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer mt-3">
                        <span>RAZORPAY</span>
                    </button>
                    <div style="margin-top: 1em; height: 4em">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                {#                <div class="col-md-6">#}
                {#                    <div style="width: 10rem;" class="card text-center rounded mt-4 shadow">#}
                {#                        <div class="card-title mt-2">Amount Details:</div>#}
                {#                        <p class="text mt-1"><span id="total">{{ total }}</span> rs</p>#}
                {#                    </div>#}
                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>

                        <div class="flex-w flex-t p-b-13">
                            <div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
                            </div>

                            <div class="size-209">
                                <span class="font-weight-bold">₹</span>
                                <span id="total-amount" class="mtext-110 cl2">{{ total }}
								</span>
                            </div>
                        </div>
                        <div class="flex-w flex-t p-b-13">
                            <div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
                            </div>

                            <div class="size-100">
                                <span class="font-weight-bold">₹</span>
                                <span id="total-amount" class="mtext-8 cl2">{{ total }}
								</span>
                            </div>
                        </div>
                        <div class="flex-w flex-t p-b-13">
                            <div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
                            </div>

                            <div class="size-209">
                                <span class="font-weight-bold">₹</span>
                                <span id="total-amount" class="mtext-8 cl2">{{ total }}
								</span>
                            </div>
                        </div>
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text"
                                   name="coupon" placeholder="Coupon Code">

                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Apply coupon
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade m-t-80" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ADD NEW ADDRESS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'add-new-address-checkout' %}">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="house-name">House Name</label>
                            <input type="text" class="form-control" id="house-name"
                                   name="house-name" maxlength="50"
                                   placeholder="House name or House Number" required>
                        </div>
                        <div class="form-group">
                            <label for="town">Town</label>
                            <input type="text" class="form-control" id="town" name="town"
                                   placeholder="Town" maxlength="20" required>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="district">City or District</label>
                                <input type="text" maxlength="20" class="form-control" name="district"
                                       id="district"
                                       placeholder="City or District" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label>
                                <input type="text" maxlength="number" class="form-control" name="state" id="state"
                                       placeholder="State" required>

                            </div>
                            <div class="form-group col-md-4">
                                <label for="pin-code">Pin Code</label>
                                <input type="text" pattern="\d*" maxlength="6" class="form-control" id="pin-code"
                                       name="pin-code"
                                       placeholder="eg: 662233" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="address-type">Type of Address</label>
                                <select id="address-type" name="address-type" class="form-control"
                                        required>
                                    <option>Home</option>
                                    <option>Office</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-primary">Add Address</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=AUB9ANO3-Jo_CMtyFvzT9HMi6cFOdcIsGYY8PTT7DNZCIkeuLAeNOO3nNIRrX0k8-7xdiXBJx6bcQ-QK&currency=USD"></script>
    <script>
        console.log({{ total }})
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color: 'blue',
                shape: 'pill',
                label: 'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{ paypal_total }}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    placeOrder('True')
                });
            }


        }).render('#paypal-button-container');
    </script>
    <script>
        function placeOrder(data) {
            var address = $('#address').val();
            console.log(address);
            var amount_paid = '{{ total }}';
            console.log(amount_paid)
            $.ajax({
                url: '/place-order/',
                method: 'POST',
                data: {
                    'address': address,
                    'data': data,
                    'amount_paid': amount_paid
                },
                dataType: 'json',
                success: function (data) {
                    if (data == 'true') {
                        console.log('hai')
                        window.location.replace('/order-confirm/')
                    }
                }
            })
        }
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function razorpay() {
            var payment_status = 'razorpay'
            var options = {
                "key": "rzp_test_0CJlFTJsvWeMla", // Enter the Key ID generated from the Dashboard
                "amount": '{{razorpay_total}}', // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "SHOPIFY",
                "description": "PAY FOR PRODUCTS",
                "image": "{% static 'images/icons/favicon.png' %}",
                "order_id": "{{ payment.id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    alert('Transaction completed..!!!');
                    placeOrder('True')
                    //successrazorpay(tid)
                },
                "prefill": {
                    "name": "{{ profile.user.name }}",
                    "email": "{{ profile.user.email }}",
                    "contact": "{{ profile.phone_num }}"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
    </script>

{% endblock %}