{% extends 'user/index.html' %}
{% block content %}
    <div class="row">
        <div class="row">
            <h6>Please select your address:</h6>
            <div class="col-md-8">
                <div style="height: 7em;" class="card shadow p-2">
                        <div class="row">
                            {% for address in address %}
                                <div class="col-md-4">
                                    <div class="radio">
                                        <input id="{{ address.id }}" type="radio" name="address" value="{{ address.id }}" checked>
                                        <label>
                                            {{ address.house_name }}<br>
                                            {{ address.town }},
                                            {{ address.district }}<br>
                                            {{ address.state }},
                                            {{ address.pin_code }}
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-4">
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row mt-3">
            <h6>Choose payment method:</h6>
            <div class="col-md-6">
                    <a style="text-decoration: none"><button onclick="placeOrder()" style="height: 4em; width: 100%" class="btn mt-2 shadow text-center">
                        <span>CASH ON DELIVERY</span>
                    </button></a>
{#                <a style="text-decoration: none color: black;">#}
{#                    <div style="height: 3em;" class="card mt-2 shadow text-center" onclick="placeOrder()">#}
{#                        <span class="mt-2">CASH ON DELIVERY</span>#}
{#                    </div>#}
{#                </a>#}
                <a style="text-decoration: none; color: black;">
                    <button style="height: 4em; width: 100%" class="btn mt-2 shadow text-center" >
                        <span>PAYPAL</span>
                    </button>
                </a>
                <a style="text-decoration: none; color: black">
                    <button style="height: 4em; width: 100%" class="btn mt-2 shadow text-center">
                        <span class="mt-2">RAZORPAY</span>
                    </button>
                </a>
            </div>
            <div class="col-md-6">
                <div style="width: 10rem;" class="card text-center rounded mt-4 shadow">
                    <div class="card-title mt-2">Amount Details:</div>
                    <p class="text mt-1"><strong>{{ total }}</strong> rs</p>
                </div>
            </div>
        </div>
    </div>
    <script>
    function placeOrder() {
        var address = $('input[name="address"]:checked').val()
        console.log(address)
        $.ajax({
            url: '/place-order/',
            method: 'POST',
            data: {'address': address},
            dataType: 'json',
            success: function (data) {
                if (data == 'true'){
                    console.log('hai')
                    window.location.replace('/order-confirm/')
                }
            }
        })
    }
    </script>
{% endblock %}