{% extends 'user/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
    <div class="card" style="width: 35em;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3">Sign Up</legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group mt-2">
            <button class="btn btn-outline-success" type="submit">Sign Up</button>
        </div>

    </form>
    </div>
    </div>
{% endblock %}