{% extends 'user/index1.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section style="margin-top: 7em; height: 75vh;">
        <div class="row text-center bg-light" style="height: 5em;">
            <h2 class="fw-bolder mt-4">Sign Up</h2>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card text-center mt-1">
                    <form method="POST" class="p-2">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form | crispy }}
                        </fieldset>
                        <div class="form-group mt-2">
                            <button class="btn btn-outline-success" type="submit">Sign Up</button>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
{% endblock %}