{% extends 'admins/index.html' %}
{% load static %}
{% block content %}
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Dashboard</h5>
                        <p class="m-b-0">Welcome to Material Able</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="row main-content">
        <div class="container-fluid ml-3">
            <form style="width: 100vh" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="product-category">Select category</label>
                    <select class="form-control" name="product-category" id="product-catergory" required>
                        {% for catergory in category %}
                            <option value="{{ catergory.id }}">{{ catergory.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="product-name">Name of the product</label>
                    <input type="text" name="product-name" class="form-control" id="product-name"
                           placeholder="Please enter the product name..." required>
                </div>
                <div class="form-group">
                    <label for="product-price">Price</label>
                    <input type="text" name="product-price" class="form-control" id="product-price"
                           placeholder="Please enter the product price..." required>
                </div>
            <div class="form-group">
                    <label for="product-stock">Add Stock</label>
                    <input type="number" min="10" name="product-stock" class="form-control" id="product-stock"
                           placeholder="Please enter the stock..." required>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="image1">Select images of product</label><br>
                            <input type="file" accept="image/*" name="image1" id="image1" onchange="readURL1(this);"/>
                            <div id="image1_container1" class="image1_container"
                                 style="max-width: 324px; max-height: 324px;">
                                <img id="blah1" src="#" alt="your image"/>
                            </div>
                            <div>
                                <!-- // Cropped image to display (only if u want) -->
                                <div id="cropped">
                                    <img style="width: 13em; height: 100%; margin-top: 2em" id="cropped_result1"/>
                                </div>

                                <!-- // Will trigger crop event -->
                                <button type="button" id="crop_button1">Crop</button>
                            </div>
                            <textarea style="display: none" id="image164" name="image164"></textarea>
                        </div>
                        <div class="col-md-4">
                            <label for="image2">Select images of product</label><br>
                            <input type="file" accept="image/*" name="image2" id="image2" onchange="readURL2(this);"/>
                            <div id="image_container2" class="image_container"
                                 style="max-width: 324px; max-height: 324px;">
                                <img id="blah2" style="width: 200px;" src="" alt="your image"/>
                            </div>
                            <div>
                                <!-- // Cropped image to display (only if u want) -->
                                <div id="cropped2">
                                    <img style="width: 13em; height: 100%; margin-top: 2em" id="cropped_result2"/>
                                </div>

                                <!-- // Will trigger crop event -->
                                <button type="button" id="crop_button2">Crop</button>
                            </div>
                            <textarea style="display: none;" id="image264" name="image264"></textarea>
                        </div>
                        <div class="col-md-4">
                            <label for="image3">Select images of product</label><br>
                            <input type="file" accept="image/*" name="image3" id="image3" onchange="readURL3(this);"/>
                            <div id="image_container3" class="image_container"
                                 style="max-width: 324px; max-height: 324px;">
                                <img id="blah3" src="#" alt="your image"/>
                            </div>
                            <div>
                                <!-- // Cropped image to display (only if u want) -->
                                <div id="cropped3">
                                    <img class="border shadow" style="width: 13em; height: 100%; margin-top: 2em"
                                         id="cropped_result3"/>
                                </div>

                                <!-- // Will trigger crop event -->
                                <button type="button" id="crop_button3">Crop</button>
                            </div>
                            <textarea style="display: none" id="image364" name="image364"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="product-main-category">Select main category</label>
                    <select class="form-control" name="product-main-category" id="product-main-catergory" required>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Kids</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="product-description">Description</label>
                    <textarea class="form-control" name="product-description" id="product-description" rows="3"
                              required></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Add product</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.0.0/cropper.min.js"></script>
    <script>
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#blah1").attr("src", e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
                setTimeout(initCropper, 1000);
            }
        }
        function initCropper() {
            console.log("Came here");
            var image1 = document.getElementById("blah1");
            var cropper = new Cropper(image1, {
                aspectRatio: 3 / 4,
                viewMode: 2,
                crop: function (e) {
                    console.log(e.detail.x);
                    console.log(e.detail.y);
                }
            });

            // On crop button clicked
            document.getElementById("crop_button1").addEventListener("click", function () {
                var imgurl1 = cropper.getCroppedCanvas().toDataURL();
                var img1 = document.getElementById("cropped_result1");
                img1.src = imgurl1;
                document.getElementById("image164").value = imgurl1;
            });
        }

    </script>
    <script>
        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#blah2").attr("src", e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
                setTimeout(initCropper2, 1000);
            }
        }
        function initCropper2() {
            console.log("Came here");
            var image2 = document.getElementById("blah2");
            var cropper = new Cropper(image2, {
                aspectRatio: 3 / 4,
                viewMode: 3,
                crop: function (e) {
                    console.log(e.detail.x);
                    console.log(e.detail.y);
                }
            });

            // On crop button clicked
            document.getElementById("crop_button2").addEventListener("click", function () {
                var imgurl2 = cropper.getCroppedCanvas().toDataURL();
                var img2 = document.getElementById("cropped_result2");
                img2.src = imgurl2;
                document.getElementById("image264").value = imgurl2;
            });
        }

    </script>
    <script>
        function readURL3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#blah3").attr("src", e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
                setTimeout(initCropper3, 1000);
            }
        }
        function initCropper3() {
            console.log("Came here");
            var image3 = document.getElementById("blah3");
            var cropper = new Cropper(image3, {
                aspectRatio: 3 / 4,
                viewMode: 3,
                crop: function (e) {
                    console.log(e.detail.x);
                    console.log(e.detail.y);
                }
            });

            // On crop button clicked
            document.getElementById("crop_button3").addEventListener("click", function () {
                var imgurl3 = cropper.getCroppedCanvas().toDataURL();
                var img3 = document.getElementById("cropped_result3");
                img3.src = imgurl3;
                document.getElementById("image364").value = imgurl3;
            });
        }

    </script>

{% endblock %}