{% extends 'admins/index.html' %}
{% block content %}
    <div class="row main-content">
        <div class="container-fluid content-top-gap">

            <form style="width: 30em; margin-top: 1em" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" value="{{ user.username }}">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                           value="{{ user.email }}">
                </div>
                <div class="form-group">
                    <label for="first-name">First name</label>
                    <input type="text" class="form-control" name="first-name" id="first-name"
                           value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="last-name">Last name</label>
                    <input type="text" class="form-control" name="last-name" id="last-name"
                           value="{{ user.last_name }}">
                </div>
                <button type="submit" class="btn btn-primary mt-1">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}