{% extends 'admins/index.html' %}
{% block content %}
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Category</h5>
                        <p class="m-b-0">Edit Category</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Category</a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Edit Category</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="row main-content">
        <div class="container-fluid content-top-gap">
            <div class="column p-3">
                <h1>Edit Category</h1>
                <form style="width: 20em" method="POST">
                    <div class="form-group">
                        <label for="category-name">Name:</label>
                        <input type="text" name="category-name" class="form-control" value="{{ category.name }}"
                               id="category-name"
                               placeholder="Category Name" required>
                        <button type="submit" class="btn btn-success mt-2">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}