{% extends 'admins/index.html' %}
{% block content %}
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Coupon</h5>
                        <p class="m-b-0">Edit Coupon</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#!"> <i class="fa fa-home"></i> </a></li>
                        <li class="breadcrumb-item"><a href="#!">Coupon</a></li>
                        <li class="breadcrumb-item"><a href="#!">Edit Coupon</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="row main-content">
        <div class="container-fluid content-top-gap">
            <div class="column p-3">
                <h1>Edit Coupon</h1>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
                <form style="width: 20em" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="coupon-code">Coupon Code:</label>
                        <input type="text" name="coupon-code" class="form-control" value="{{ coupon.code }}"
                               id="coupon-code" placeholder="Category Name" required>
                        <label for="coupon-discount">Discount:</label>
                        <input type="text" name="coupon-discount" class="form-control" value="{{ coupon.discount }}"
                               id="coupon-discount" placeholder="Coupon Discount" required>
                        <button type="submit" class="btn btn-success mt-2">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}