{% extends 'admins/index.html' %}
{% block content %}
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Dashboard</h5>
                        <p class="m-b-0">Welcome to Material Able</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    {#    <div class="row" style="margin-top: 4.5em;">#}
    {#        <div class="col-md-1"></div>#}
    {#        <div class="col-md-10">#}
    {#            {% for order in order %}#}
    {#                <div class="card mt-5">#}
    {#                    <div class="card-title">#}
    {#                        <h6>Order ID: {{ order.id }}</h6>#}
    {#                    </div>#}
    {#                    <div class="row text-center">#}
    {#                        <div class="col-md-2">USER:<br> {{ order.user.username }}</div>#}
    {#                        <div class="col-md-2">PRODUCT:<br> {{ order.product.name }}</div>#}
    {#                        <div class="col-md-2">QUANTITY:<br> {{ order.quantity }}</div>#}
    {#                        <div class="col-md-2">PRICE:<br> {{ order.product.price }}</div>#}
    {#                        <div class="col-md-2">ORDER STATUS:<br> {{ order.order_status }}</div>#}
    {#                        <div class="col-md-2">PAYMENT STATUS:<br> {{ order.payment_status }}</div>#}
    {##}
    {#                    </div>#}
    {#                </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        <div class="col-md-1"></div>#}
    {#    </div>#}
    <div class="row main-content">
        <div class="container-fluid content-top-gap">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">USER</th>
                    <th scope="col">PRODUCT</th>
                    <th scope="col">QTY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">PAYMENT STATUS</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                {% for order in order %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.user.username }}</td>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.product.price }}</td>
                        <td>{{ order.order_status }}</td>
                        <td>{{ order.payment_status }}</td>
                        {% if order.order_status == 'pending' %}
                            <td><a href="{% url 'confirm-order' order.id %}" class="btn btn-success">CONFIRM</a></td>
                            <td><a href="{% url 'cancel-order-admin' order.id %}" class="btn btn-danger">CANCEL</a></td>
                            <td><a href="{% url 'deliver-order' order.id %}" class="btn btn-primary">DELIVER</a></td>
                        {% elif order.order_status == 'confirmed' %}
                            <td></td>
                            <td><a href="{% url 'cancel-order-admin' order.id %}" class="btn btn-danger">CANCEL</a></td>
                            <td><a href="{% url 'deliver-order' order.id %}" class="btn btn-primary">DELIVER</a></td>
                        {% elif order.order_status == 'cancelled' or order.order_status == 'delivered' %}
                            <td></td>
                            <td></td>
                            <td></td>
                            {% else %}

                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}