{% extends 'admins/base.html' %}
{% block content %}
    <div class="row mt-2">
        <div class="col-md-10"></div>
        <div class="col-md-2 text-success text-center"><a style="color: green; text-decoration: none" href="{% url 'add-product' %}">+ Add Product</a></div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ORDER ID</th>
                <th scope="col">USER</th>
                <th scope="col">NAME</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">AMOUNT</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td><img style="width: 2em; height: auto" src="{{ product.image1_url }}"></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price }}</td>
                    <td><a href="{% url 'edit-product' product.id %}" class="btn btn-primary">Edit</a></td>
                    <td><a href="{% url 'delete-product' product.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}