{% extends 'admins/index.html' %}
{% load static %}
{% block content %}
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Report</h5>
                        <p class="m-b-0">See Your Report Here</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href=""> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <h6 class="mt-2 ml-2">Report:</h6>
            <form method="POST">{% csrf_token %}
                <div class="form-group row ml-3">
                    <label for="start-date">Start Date:</label>
                    <div class="col-md-4">
                        <input autocomplete="off" class="form-control" name="date-start" type="text" id="date-start"
                               required>
                    </div>
                    <label for="end-date">End Date:</label>
                    <div class="col-md-4">
                        <input autocomplete="off" class="form-control" name="date-end" type="text" id="date-end"
                               required>
                    </div>
                    <button type="submit" class="btn btn-success rounded" id="add-offer">Submit
                    </button>
                </div>
            </form>
            <div class="col-12">
                {% if order|length == 0 %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger text-center">{{ message }}</div>
                        {% endfor %}

                    {% endif %}
                {% else %}
                    <input type="button" style="margin-bottom: 3px" class="btn btn-success rounded how-shadow1"
                           onclick="tableToExcel('testTable', 'W3C Example Table')" value="Export to Excel">
                    <button class="btn btn-danger rounded" style="margin-bottom: 3px"
                            onclick="javascript:demoFromHTML();">Export To PDF
                    </button>
                    <div id="report-week">
                    <table id="reportTable" class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">USER</th>
                            <th scope="col">PRODUCT</th>
                            <th scope="col">QTY</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">PAYMENT STATUS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in order %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.user.username }}</td>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>{{ order.product.price }}</td>
                                <td>{{ order.order_status }}</td>
                                <td>{% if order.payment_status == 'false' %} Not Paid {% else %} Paid {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
        <script>
            $(document).ready(function () {
                $("#date-start").datepicker({
                    dateFormat: 'yy-mm-dd',
                    numberOfMonths: 2,
                    onSelect: function (selected) {
                        $("#date-end").datepicker("option", "minDate", selected);
                        // $("#end-date").datepicker("setDate", '+1y');
                    }
                });
                $("#date-end").datepicker({
                    dateFormat: 'yy-mm-dd',
                    numberOfMonths: 2,
                    onSelect: function (selected) {
                        $("#date-start").datepicker("option", "maxDate", selected)
                    }
                });
            });
        </script>
        <script type="text/javascript">
            var tableToExcel = (function () {
                var uri = 'data:application/vnd.ms-excel;base64,'
                    ,
                    template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
                    , base64 = function (s) {
                        return window.btoa(unescape(encodeURIComponent(s)))
                    }
                    , format = function (s, c) {
                        return s.replace(/{(\w+)}/g, function (m, p) {
                            return c[p];
                        })
                    }
                return function (table, name) {
                    if (!table.nodeType) table = document.getElementById('reportTable')
                    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
                    window.location.href = uri + base64(format(template, ctx))
                }
            })()
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
        <script>
            function demoFromHTML() {
                var pdf = new jsPDF('p', 'pt', 'letter');
                source = $('#report-week')[0];
                specialElementHandlers = {
                    // element with id of "bypass" - jQuery style selector
                    '#bypassme': function (element, renderer) {
                        // true = "handled elsewhere, bypass text extraction"
                        return true
                    }
                };
                margins = {
                    top: 80,
                    bottom: 60,
                    left: 40,
                    width: 522
                };
                pdf.fromHTML(
                    source, // HTML string or DOM elem ref.
                    margins.left, // x coord
                    margins.top, { // y coord
                        'width': margins.width, // max width of content on PDF
                        'elementHandlers': specialElementHandlers
                    },

                    function (dispose) {
                        pdf.save('Report.pdf');
                    }, margins);
            }
        </script>
{% endblock %}