{% extends 'admins/index.html' %}
{% block content %}
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Users</h5>
                        <p class="m-b-0">Manage Your users here</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'admin-home' %}"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Users</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="row main-content">
        <div class="container-fluid content-top-gap">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">USERNAME</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for profile in profile %}
                    <tr>
                        <td>{{ profile.user.username }}</td>
                        <td><img style="width: 3em" src="{{ profile.image_url }}"></td>
                        <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                        <td>{{ profile.user.email }}</td>
                        <td><a href="{% url 'block-user' profile.user.id %}" class="btn btn-danger">
                            {% if profile.user.is_active %}
                                Block{% else %}Unblock{% endif %}</a></td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}